<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dal.Properties.Settings.tsFacilityConnectionString"
            connectionString="Data Source=|DataDirectory|\tsFacility.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="Dal.Properties.Settings.tsFacilityConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\tsFacility.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>